.navbar {
    text-align: center;
    font-size: 1.3rem;
    color: black;
    padding: 1rem;
    background-color: rgb(147, 197, 146);
}

.nav-link {
    color: rgb(0, 44, 44);
    text-decoration: none;
    margin: 2rem;
    background-color: rgb(147, 197, 146);
}

.active {
    font-weight: 600;
}
.home {
    max-width: 100%;
}
.home-img {
    position: absolute;
    width: 100%;
}

.header {
    font-weight: 300;
    font-size: 6rem;
    padding-top: 20%;
    text-align: center;
    position: relative;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: rgb(0, 44, 44);
    animation: color-change 3s infinite alternate;
    background-color: transparent;
}

@keyframes color-change {
    0% {
        color: rgb(0, 44, 44);
    }

    50% {
        color: rgb(147, 197, 146);
    }

    100% {
        color: rgb(0, 44, 44);
    }
}

.collections {
    margin: 2.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    overflow: hidden;
}

.collection-image {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);

    object-fit: cover;
    transition: all 1s;
}

.collection-image:hover {
    transform: scale(1.1);
}

.collection-header {
    text-align: center;
    font-size: 2.3rem;
    margin: 1.5rem;
    color: rgb(0, 44, 44);
    font-weight: 500;
}

.contact {
    display: flex;
}

.contact-header {
    margin: 3rem;
    font-size: 2.3rem;
    color: rgb(0, 44, 44);
    font-weight: 500;
    margin-bottom: 4rem;
}
.contact-para {
    font-size: 1.4rem;
    margin: 3rem;
}
.contact-para strong {
    color: rgb(147, 197, 146);
}

.contact-img {
    width: 100%;
}

.about-para {
    font-size: 1.2rem;
    margin: 3rem;
    letter-spacing: 2px;
}

.quote {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    color: rgb(147, 197, 146);
}

.about-header {
    text-align: center;
    font-size: 2.3rem;
    margin: 3rem;
    color: rgb(0, 44, 44);
    font-weight: 500;
}

@media only screen and (max-width: 1200px) {
    .header {
        font-size: 4rem;
    }
    .about-header,
    .collection-header,
    .contact-header {
        font-size: 2rem;
    }

    .about-para,
    .contact-para {
        font-size: 1rem;
    }

    .contact-header {
        margin: 1rem 0 1rem 0;
    }
    .contact-img,
    .left {
        width: 85%;
    }

    .left {
        width: 60%;
    }

    .contact-para {
        margin: 0;
        margin-bottom: 0.8rem;
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 2rem;
    }
    .about-header,
    .collection-header,
    .contact-header {
        font-size: 1.5rem;
    }

    .about-para,
    .contact-para {
        font-size: 0.9rem;
    }

    .navbar {
        font-size: 0.9rem;
    }
    .nav-link {
        margin: 1rem;
    }

    .about-para {
        text-align: justify;
    }

    .quote {
        width: 100%;
    }

    .collection-image {
        width: 40%;
    }

    .contact-img {
        height: 90%;
    }
}
