.navbar {
    font-size: 1.3rem;
    display: flex;
    padding: 0;
    text-align: right;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.nav-link-box {
    color: #002c2c;
    text-decoration: none;
    margin: 1rem;
    background-color: rgb(147, 197, 146);
}

.nav-link-box:first-child {
    margin-left: 6rem;
}

.nav-item {
    margin: -1px;
}

.nav-item,
#navbarNav,
.navbar-toggler-icon,
.container-fluid {
    background-color: rgb(147, 197, 146);
}

.active {
    font-weight: 600;
}
.home {
    margin-top: 48px;
    max-width: 100%;
}
.home-img {
    position: absolute;
    width: 100%;
    margin-top: 1rem;
}

.logo {
    background-color: transparent;
    width: 8rem;
    height: 5rem;
}

.header {
    font-weight: 300;
    font-size: 6rem;
    padding-top: 20%;
    text-align: center;
    position: relative;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: rgb(0, 44, 44);
    animation: color-change 3s infinite alternate;
    background-color: transparent;
    margin-bottom: 18rem;
}

@keyframes color-change {
    0% {
        color: rgb(0, 44, 44);
    }

    50% {
        color: rgb(147, 197, 146);
    }

    100% {
        color: rgb(0, 44, 44);
    }
}

.collections {
    margin: 2.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    overflow: hidden;
}

.collection-image {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);

    object-fit: cover;
    transition: all 1s;
}

.collection-image:hover {
    transform: scale(1.1);
}

.collection-header {
    text-align: center;
    font-size: 2.3rem;
    margin: 1.5rem;
    color: rgb(0, 44, 44);
    font-weight: 500;
    margin-top: 6rem;
}

.contact {
    display: flex;
    margin-top: 5rem;
}

.contact-header {
    margin: 3rem;
    font-size: 2.3rem;
    color: rgb(0, 44, 44);
    font-weight: 500;
    margin-bottom: 4rem;
}
.contact-para {
    font-size: 1.4rem;
    margin: 3rem;
}
.contact-para strong {
    color: rgb(147, 197, 146);
}

.contact-img {
    width: 100%;
}

.about-para {
    font-size: 1.2rem;
    margin: 3rem;
    letter-spacing: 2px;
}

.quote {
    text-align: center;
    font-style: italic;
    font-weight: 600;
    color: rgb(147, 197, 146);
}

.about-header {
    text-align: center;
    font-size: 2.3rem;
    margin: 3rem;
    color: rgb(0, 44, 44);
    font-weight: 500;
    margin-top: 6rem;
}

.footer {
    text-align: center;
    background-color: rgb(147, 197, 146);
    padding: 2rem;
    position: relative;
}

.footer-para,
.footer-name {
    margin: 0;
    background-color: rgb(147, 197, 146);
    color: #002c2c;
}

.icon {
    color: #002c2c;
    margin: 7px;
    margin-bottom: 0;
    transform: scale(1.3);
    background-color: rgb(147, 197, 146);
}

.icon:hover {
    transition: all 1s;
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 1200px) {
    .header {
        font-size: 4rem;
    }
    .about-header,
    .collection-header,
    .contact-header {
        font-size: 2rem;
    }

    .about-para,
    .contact-para {
        font-size: 1rem;
    }

    .contact-header {
        margin: 1rem 0 1rem 0;
    }
    .contact-img,
    .left {
        width: 85%;
    }

    .left {
        width: 60%;
    }

    .contact-para {
        margin: 0;
        margin-bottom: 0.8rem;
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 2rem;
        padding-top: 73%;
    }

    .logo {
        width: 5rem;
        height: 3rem;
    }
    .about-header,
    .collection-header,
    .contact-header {
        font-size: 1.5rem;
    }
    .contact {
        flex-direction: column;
        margin-top: 2rem;
    }

    .contact-img {
        width: 170%;
    }

    .about-para,
    .contact-para {
        font-size: 0.9rem;
    }
    .contact-para,
    .contact-header {
        margin-left: 1rem;
        text-align: justify;
    }

    .contact-img {
        width: 166%;
    }

    .navbar {
        font-size: 1rem;
    }
    .nav-link {
        margin: 1rem;
    }

    .about-para {
        text-align: justify;
    }

    .quote {
        width: 100%;
    }

    .collection-image {
        width: 40%;
    }

    .home-img {
        margin-top: 0;
        height: 92.8%;
    }

    .nav-item:not(:last-child) {
        margin: -1px;
    }

    .nav-item:last-child {
        margin: 0 -1px;
    }
}
